
@font-face {
    font-family: "Digital-7";
    src: url("digital-7.ttf");
    }

body{
    background-image: url("https://t3.ftcdn.net/jpg/02/49/72/24/240_F_249722435_QmNFUKX59yA7W7CCeE4RDSQv1pKKv10C.jpg");
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position-x: center;
    background-color: #371a4a;
    margin: 0;
    font-family: "Digital-7";
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gameboy{
    width: 380px;
    height: 800px;
    background-color: #189DA2;
    margin: 3vw auto 0;
    border: 10px outset rgb(24, 134, 138);
    border-radius: 20px;
    position: relative;
}

.gameboy .canvas{
    margin: 40px 20px 0;
    background-color: #3c3c3c;
    border: 20px inset #727272;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}

.gameboy .totalScore{
    width: 80px;
    text-align: center;
    margin: 20px auto;
    font-size: 64px;
    line-height: 72px;
    color: #7BBE00;
    background: black;
    padding: 2px 15px 2px 25px;
    letter-spacing: 10px;
    border: 4px inset rgb(24, 134, 138);
}

.gameboy .controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gameboy .controls .cross{
    color: #fff;
    font-size: 25px;
    line-height: normal;
    width: 120px;
    height: 120px;
    position: relative;
    margin: 10px 25px;
    background: #2A2A2A;
    border: 5px outset #3A3A3A;
    clip-path: polygon(0 35%, 35% 36%, 35% 0, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
}
.gameboy .controls .cross .up,
.gameboy .controls .cross .down,
.gameboy .controls .cross .left,
.gameboy .controls .cross .right{
    cursor: pointer;
    background-color: #717171;
    
}
.gameboy .controls .cross .up:active,
.gameboy .controls .cross .down:active,
.gameboy .controls .cross .left:active,
.gameboy .controls .cross .right:active{
    background-color: rgb(180, 180, 180);
    text-shadow: 3px 2px 3px rgba(146, 146, 146, 0.2);
    
}
.gameboy .controls .cross .up{
    position: absolute;
    top: 0;
    left: calc(50% - 15px);
    height: 30px;
    width: 30px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.gameboy .controls .cross .down{
    position: absolute;
    bottom: 0;
    left: calc(50% - 15px);
    height: 30px;
    width: 30px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}
.gameboy .controls .cross .left{
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
.gameboy .controls .cross .right{
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.gameboy .controls .buttonA{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #2A2A2A;
    margin-top: 50px;
    border: 2px outset #3A3A3A;
}
.gameboy .controls .buttonB{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #2A2A2A;
    margin-right: 25px;
    border: 2px outset #3A3A3A;
}

.gameboy .controlsSmall{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 150px;
    position: absolute;
    bottom: 20px;
    left: 105px;
}

.gameboy .controlsSmall .itemA, .gameboy .controlsSmall .itemB{
    width: 50px;
    height: 10px;
    background-color: #2A2A2A;
    border: 2px outset #3A3A3A;
    border-radius: 5px;
    margin: 10px;
}

@media(max-width: 560px){
    .gameboy .totalScore{
        font-size: 54px;
        line-height: 64px;
    }    
}